# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List Popular tools for Data Science
- Give example of simple arithmetic operations
- do some excercies

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Shell
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. ggplot (in R)
4. matplot

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
result = 200/60
final = int(result)
print(final,"Hours")

3 Hours

## Author

My name is Youssef Abodahab